@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,900;1,9..40,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply rounded-xl;
	}
}

@layer base {
	:root {
		font-family: 'DM Sans', sans-serif;
		scroll-behavior: smooth;
	}

	input[type='number'] {
		margin: 0;
		appearance: textfield;
	}
}